:root {
  --bg-color: #ffffff;
  --accent-color: #5c7e8f;
  --card-color: #d4dde290;
  --button-color: #ffffff;
  --glass-effect-color: rgba(255, 255, 255, 0);
  --border-color: rgba(255, 255, 255, 0.15);
  --font-color: #111111;
  --box-shadow-color: #a2a2a220;
}


.dark {
  --bg-color: #111111;
  --accent-color: rgba(255, 255, 255, 0.15);
  --card-color: #22222290;
  --button-color: #111111;
  --glass-effect-color: rgba(255, 255, 255, 0);
  --border-color: rgba(255, 255, 255, 0.15);
  --font-color: #ffffff;
  --box-shadow-color: #a2a2a220;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  list-style: none;
  outline: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  object-fit: cover;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--font-color);
  line-height: 1.6;
  background-color: var(--bg-color);
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 80%;
  background-color: var(--glass-effect-color);
  backdrop-filter: blur(4px);
  /* border-bottom: 1px solid var(--border-color); */
  padding: 2rem 0.5rem 1rem 0.5rem;
}

ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  column-gap: 2rem;
}

.homeLi {
  margin-right: auto;
}

ul .selection {
  background-color: var(--glass-effect-color);
  padding: 0.5rem;
  color: var(--font-color);
  border: 1px solid var(--border-color);
  border-radius: 1rem;
}

ul .selection option {
  background-color: var(--glass-effect-color);
  color: var(--font-color);
  font-family: inherit;
}


ul .searchLi .toSearch {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

ul .searchLi .toSearch img {
  width: 100%;
  width: 1.5rem;
}

li a {
  color: var(--font-color);
  position: relative;
}

li .toGo::before {
  content: "";
  background-color: var(--accent-color);
  position: absolute;
  bottom: -0.1rem;
  left: 0;
  height: 2px;
  width: 0%;
  transition: width 0.3s ease-out;
}

li .toGo:hover::before {
  width: 100%;
}

.theme {
  cursor: pointer;
}


main {
  margin-top: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainPage {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.trendingCarouselSection{
  width:100%;
}
.trendingCarousel{
  display:flex;
  gap:2rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}


.popularCarouselSection{
  width:100%;
}
.popularCarousel{
  display:flex;
  gap:2rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.topRatedCarouselSection{
  width:100%;
}
.topRatedCarousel{
  display:flex;
  gap:2rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}



.card {
  max-width: 100%;
  flex-shrink: 0;
  width:300px;
  scroll-snap-align: start;
}

.cardImage {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImage .cardButton {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  opacity: 0;
  transition: all 0.2s ease-in;
}

.card:hover .playButton {
  opacity: 0.9;

}

.cardImage .playButtonImg {
  width: 100%;
}

.cardImage .infoButtonImg {
  width: 100%;
}

.cardImage .playButtonImg:hover {
  cursor: pointer;
}

.cardImage .infoButtonImg:hover {
  cursor: pointer;
}